{% extends "layout.html" %}
<!-- -------title-------  -->
{% block title %}
    Book Details
{% endblock %}
<!-- -------style-------  -->
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename ='css/book-details.css') }}" crossorigin="anonymous"/>
{% endblock %}
<!-- -------body-------  -->
{% block body %}
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages %}
	<div class="alert alert-success" role="alert">
		<strong>
			{{i}}
		</strong>
	</div>
{% endfor %} {%endif%} {%endwith%}

<div id="item-details" class="row col-12 clearfix">
	<div class="col-lg-4 col-sm-6 col-12 book-cover"	>
		<img src="{{ url_for('static', filename ='img/old-book.png')}}" alt="Check image extention">
	</div>
	<div class="col-lg-8 col-sm-6 col-12">
		{%if dbdata %}
    <table class="table table-sm book-info-table">
      <thead class="thead-inverse">
        <!-- data from database -->
        {%for i in dbdata%}
        <tr>
          <th>Title</th>
          <th class="title">{{i[2]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Author</th>
          <td>{{i[3]}}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{i[4]}}</td>
        </tr>
        <tr>
          <th>ISBN</th>
          <td>
            <a href="{{url_for('api' , isbn  = i[1]) }}"> {{i[1]}}</a>
          </td>
        </tr>
        {%endfor%}

        <!-- data from apicall  -->
        {%if apidata %}
        <tr>
          <th>Total Reviews</th>
          <td>{{apidata['books'][0]['work_reviews_count']}}</td>
        </tr>
        <tr>
          <th>Total Ratings</th>
          <td>{{apidata['books'][0]['work_ratings_count']}}</td>
        </tr>
        <tr>
          <th>Average rating</th>
          <td>{{apidata['books'][0]['average_rating']}}</td>
        </tr>
        {%endif%}
      </tbody>
    </table>
    {%endif%}
	</div>
</div>

<div class="row mt-5 clearfix">
  <div class="review col-12">
    <h2>Reviews</h2>
    {%if dbreviews %} {%for i in dbreviews %}

    <div class="review-content">
      <span>Name:</span>
      <span> {{i[0]}} </span>
      <span> Rating: </span>
      <span> {{i[1]}} </span>
      <span>Date: </span>
      <span> {{ i[4].strftime("%d %B, %Y") }} </span>
      <span>Comment:</span>
      <span> {{i[2]}} </span>
    </div>
    {%endfor%} {%else %}

    <h1>No reviews found</h1>
    {%endif%}
  </div>
  <div class="review col-12">
    {%for i in dbdata%}
    <span class="new-review">Submit your review</span>
    <form action="{{  url_for('book_details', isbn= isbn )  }}" method="POST" class="review-form" id="reviewForm">
      {%endfor%}
      <table class="table">
        <tr>
          <td>Rating</td>
          <td>
						<span class="star-rating">
            <input type="radio" id="r5" name="rating" value="5"/>
						<label for="r5">&#10038;</label>
            <input type="radio" id="r4" name="rating" value="4"/>
						<label for="r4">&#10038;</label>
            <input type="radio" id="r3" name="rating" value="3"/>
						<label for="r3">&#10038;</label>
            <input type="radio" id="r2" name="rating" value="2"/>
						<label for="r2">&#10038;</label>
            <input type="radio" id="r1" name="rating" value="1"/>
						<label for="r1">&#10038;</label>
						</span>
          </td>
        </tr>
          {%for i in dbdata %}
          <input type="text" class="form-control disabled" name="isbn" value="{{i[1]}}" hidden/>
          {%endfor%}
        <tr>
          <td>Comment</td>
          <td>
            <div class="comment">
              <textarea placeholder="Write your comment here" class="form-control" name="comment" rows="3" ></textarea>
            </div>
          </td>
        </tr>
      </table>
      <button type="submit" class="btn btns actived">Submit</button>
    </form>
  </div>
  {{dbemail}}
</div>

{{bookinfo}} {%endblock%}
