{% extends "layout.html" %}
<!-- -------title-------  -->
{% block title %}
    home
{% endblock %}
<!-- -------style-------  -->
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename ='css/home.css') }}" crossorigin="anonymous"/>
{% endblock %}
<!-- -------body-------  -->
{% block body %}
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages %}
	<div class="alert alert-success" role="alert">
		<strong>
			{{i}}
		</strong>
	</div>
{% endfor %} {%endif%} {%endwith%}

<div class="row">
	<div class="col-lg-3 col-sm-4 col-12">
		<ul class="list-group">
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    ALL CATEGORIES
		    <span class="badge badge-primary badge-pill">14</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    ELECTRONICS
		    <span class="badge badge-primary badge-pill">2</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    FASHION
		    <span class="badge badge-primary badge-pill">1</span>
		  </li>
		</ul>
	</div>
	<div class="col-lg-9 col-sm-8 col-12 products">
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="item details.html"><img src="{{ url_for('static', filename ='product images/1.jpg')}}" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="item details.html"><img src="{{ url_for('static', filename ='product images/2.jpg')}}" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="{{ url_for('static', filename ='product images/3.png')}}" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/4.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/5.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/6.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/7.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a class="itemimg" href="#"><img src="product images/8.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/9.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/10.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/11.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/12.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/13.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/14.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-4 col-12 item">
			<a href="#"><img src="product images/7.jpg" alt="Check extention"></a>
			<div class="caption">
				<p>Product name</p>
				<a href="item details.html" class="btn btn-primary btn-sm mb-1">View</a>
			</div>
		</div>
	</div>
</div>
<br><br>
{% endblock %}
